
.pokemon{
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.grass{
    background-color: #9bcc50;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;

}

.name{
    color: #fff;
    margin-bottom: 0;
    text-transform: capitalize;
}

.number{
    color: black;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.types{
    padding: 0;
    margin: 0;
    list-style: none;
}

.type{
    border-radius: 1rem;
    background-color: #aeca85;
    padding: 0.25rem .5rem;
    font-size: .625rem;
    margin: .25rem .25rem;
    align-items: center;
}

.detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.fire{
    background-color: #FD7D24;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.fire .type{
    border-radius: 1rem;
    background-color: #e46b62;
    padding: 0.25rem .5rem;
    font-size: .625rem;
    margin: .25rem .25rem;
    align-items: center;
}

.water{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.water .name{
    color: #080808;
    margin-bottom: 0;
}

.water .type{
    border-radius: 1rem;
    background-color: #62e0e4;
    padding: 0.25rem .5rem;
    font-size: .625rem;
    margin: .25rem .25rem;
    align-items: center;
}

.electric{
    background-color: yellow;
    color: black;
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.electric .name{
    color: #080808;
    margin-bottom: 0;
}

.electric .type{
    border-radius: 1rem;
    background-color: #e4e262;
    padding: 0.25rem .5rem;
    font-size: .625rem;
    margin: .25rem .25rem;
    align-items: center;
}

.bug{
    background-color: #729F3F;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;

}

.bug .type{
    border-radius: 1rem;
    background-color: #869e6c;
    padding: 0.25rem .5rem;
    font-size: .625rem;
    margin: .25rem .25rem;
    align-items: center;
    text-align: center;
}

.normal{
    background-color: #A4ACAF;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;

}

.normal .type{
    border-radius: 1rem;
    background-color: #afb1ad;
    padding: 0.25rem .5rem;
    font-size: .625rem;
    margin: .25rem .25rem;
    align-items: center;
}

.poison{
    background-color: #B97FC9;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;

}

.poison .type{
    border-radius: 1rem;
    background-color: #c1a2ca;
    padding: 0.25rem .5rem;
    font-size: .625rem;
    margin: .25rem .25rem;
    align-items: center;
}

.ground{
    background-color: #AB9842;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;

}

.ground .type{
    border-radius: 1rem;
    background-color: #a89b62;
    padding: 0.25rem .5rem;
    font-size: .625rem;
    margin: .25rem .25rem;
    align-items: center;
}

.fairy{
    background-color: #FDB9E9;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;

}

.fairy .type{
    border-radius: 1rem;
    background-color: #fce1f4;
    padding: 0.25rem .5rem;
    font-size: .625rem;
    margin: .25rem .25rem;
    align-items: center;
}


.fighting{
    background-color: #D56723;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;

}

.fighting .type{
    border-radius: 1rem;
    background-color: #db9569;
    padding: 0.25rem .5rem;
    font-size: .625rem;
    margin: .25rem .25rem;
    align-items: center;
}

.psychic{
    background-color: #F366B9;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;

}

.psychic .type{
    border-radius: 1rem;
    background-color: #e4a2c2;
    padding: 0.25rem .5rem;
    font-size: .625rem;
    margin: .25rem .25rem;
    align-items: center;
}

.rock{
    background-color: #A38C21;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;

}

.rock .type{
    border-radius: 1rem;
    background-color: #a79d74;
    padding: 0.25rem .5rem;
    font-size: .625rem;
    margin: .25rem .25rem;
    align-items: center;
}

.ghost{
    background-color: #7B62A3;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.ghost .type{
    border-radius: 1rem;
    background-color: #8c7e9e;
    padding: 0.25rem .5rem;
    font-size: .625rem;
    margin: .25rem .25rem;
    align-items: center;
}

.ice{
    background-color: #51C4E7;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.ice .type{
    border-radius: 1rem;
    background-color: #6db9d4;
    padding: 0.25rem .5rem;
    font-size: .625rem;
    margin: .25rem .25rem;
    align-items: center;
}

.dragon{
    background-color: #53A4CF;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.dragon .type{
    border-radius: 1rem;
    background-color: #F16E57;
    padding: 0.25rem .5rem;
    font-size: .625rem;
    margin: .25rem .25rem;
    align-items: center;
}

.dark{
    background-color: #707070;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.dark .type{
    border-radius: 1rem;
    background-color: #8c8c8c;
    padding: 0.25rem .5rem;
    font-size: .625rem;
    margin: .25rem .25rem;
    align-items: center;
}

ol.pokemons li img{
    max-width: 100%;
    height: 70px;
    align-self: flex-end;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: center;
    list-style: none;
    width: 100%;
    padding: 1rem;
}

.pagination button{
    background-color: #6c79db;
    color: #fff;
    border: none;
    border-radius: 1rem;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}